# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.Python
env/
venv/
.venv/
*.sqlite3
*.db
*.egg-info/
build/
dist/

# Node
node_modules/
dist/
**/node_modules/

# Environment files
.env
.env.*

# Ignore local backend environment and large model binaries
backend/venv/
backend/models/*.pkl
backend/credentials.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
